@model Permission.WebManager.Lib.WebModel.SystemManager.DictionaryWebM
@{
    Layout = "~/Views/Shared/_ShowDialog.cshtml";
    bool isEdit = ViewBag.EditType;

}
<div class="page_con">
    @using (Html.BeginForm("Form1"))
    {
        @Html.AntiForgeryToken()
        @Html.Hidden("isEdit", isEdit)
        <ul class="list_ul">

            <li>
                <span class="li_tit">@Html.DisplayNameFor(c => c.dt_key)：</span>
                <span class="li_con">
                    @if (isEdit)
                    {
                        @Model.dt_key
                        @Html.HiddenFor(c=>c.dt_key)
                    }
                    else
                    {
                        @Html.TextReadonlyFor(c => c.dt_key, false, null)
                        @Html.ValidationMessageFor(c => c.dt_key)
                    }
                </span>
            </li>
            <li>
                <span class="li_tit">@Html.DisplayNameFor(c => c.dt_name)：</span>
                <span class="li_con">
                    @Html.TextReadonlyFor(c => c.dt_name, false, null)
                    @Html.ValidationMessageFor(c => c.dt_name)


                </span>
            </li>
            <li>
                <span class="li_tit">@Html.DisplayNameFor(c => c.dt_type_key)：</span>
                <span class="li_con">
                    @Html.DictionaryTypeSelectFor(c => c.dt_type_key, null) @Html.ValidationMessageFor(c => c.dt_type_key)
                   
                </span>
            </li>
            <li>
                <span class="li_tit">@Html.DisplayNameFor(c => c.dt_orderby)：</span>
                <span class="li_con">
                    @Html.TextReadonlyFor(c => c.dt_orderby, false, null)
                    @Html.ValidationMessageFor(c => c.dt_orderby)
                </span>
            </li>
            <li>
                <span class="li_tit">@Html.DisplayNameFor(c => c.dt_status)：</span>
                <span class="li_con">
                    @Html.RadioButtonTrueOrFlaseReadonlyFor(c => c.dt_status, false, null)
                </span>
            </li>
            <li>
                <span class="li_tit">@Html.DisplayNameFor(c => c.creator_name)：</span>
                <span class="li_con">
                    @Model.creator_name
                </span>
            </li>
            <li>
                <span class="li_tit">@Html.DisplayNameFor(c => c.creator_date)：</span>
                <span class="li_con">
                    @Model.creator_date
                </span>
            </li>


            <li>
                <span class="li_tit">@Html.DisplayNameFor(c => c.modifi_date)：</span>
                <span class="li_con">
                    @Model.modifi_date
                </span>
            </li>

            <li>
                <span class="li_tit">@Html.DisplayNameFor(c => c.modifi_name)：</span>
                <span class="li_con">
                    @Model.modifi_name
                </span>
            </li>
           
        </ul>
        <button type="submit" class="alert_input input_save">保存</button>
        <button type="button" class="alert_input input_close" onclick="parent.layer.closeAll('iframe');">关闭</button>
    }
</div>
